<h1>Stupid Coaching</h1>
<div class="p-3 border-start border-5 mb-4">
  <p><%= params[:question] %></p>
  <p class="m-0"><em>-You</em></p>
</div>
<div class="p-3 border-start border-5 mb-4 coach-answer">
  <p class="fw-bold"><%= @answers %></p>
  <p class="m-0">-Your coach</p>
</div>
<%= link_to "Ask a new question", ask_path %>
