<h1>Good morning. Ask me something!</h1>
<form action="/answer" data-turbo="false">
  <div class="input-group mb-3">
    <input type="text" class="form-control" name="question" placeholder="Type your question">
    <input type="submit" class="btn btn-primary" value="Ask!">
  </div>
</form>
